[Unit]
Description=CCTV Recording Service

[Service]
WorkingDirectory=/home/yany/cctv-system/api
User=yany
ExecStart=/usr/bin/python3 stream.py
Restart=always

[Install]
WantedBy=multi-user.target